<nav class="navbar navbar-expand-sm navbar-custom">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img
      src="https://emn-test.mendixcloud.com/img/DFM$Image_collection$NewPCBIcon2.png?637758429925359270"
      alt="logo"
      style="width:40px;"
    />
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a
        class="nav-link"
        href="#"
        style="text-decoration:none;color:white;font-size:20px;"
        >PCBflow</a
      >
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a
        class="nav-link"
        style="text-decoration:none;color:white;font-size:10px;text-align:center;margin-top:10px;"
        >Powered by Valor NPI</a
      >
    </li>
    <li class="nav-item">
      <a
        style="text-decoration:none;color:white;font-size:20px;"
        class="nav-link"
        ><b>SIEMENS</b></a
      >
    </li>
  </ul>
</nav>

<div class="sidenav">
  <i class="fa fa-home fa-lg"></i>
  <a href="#home">Project</a>
  <i class="fa fa-tasks"></i>
  <a href="#home">DFM profile</a>
  <i class="fa fa-user-o"></i>
  <a href="#home">Users</a>
  <i class="fa fa-th"></i>
  <a href="#home">Network</a>
  <p>
    <i style="font-size:25px" class="fa fa-bell"></i>
    <i style="font-size:25px" class="fa fa-question-circle"></i>
    <i style="font-size:25px" class="fa fa-user-circle"></i>
  </p>
</div>

<h1 style="text-align:center">Welcome to PCBflow</h1>
<div class="image">
  <img src="../../../../assets/images/runAnalysis.svg" alt="" />
  <button class="button button2">Try our sample file</button>
</div>

