.sidenav {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #18698b;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 10px;
  color: #f1f1f1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidenav i {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #f1f1f1;
  display: block;
}
.sidenav p {
  padding-top: 300px;
  font-size: 3px;
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.navbar-custom {
  background-color: #18698b;
  height: 50px;
}
.topnav-right {
  float: right;
}

.image img {
  width: 200px;
  height: 250px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  display: block;
}
.button {
  background-color: rgb(82, 82, 189); /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button1 {
  padding: 10px 24px;
}
.button2 {
  padding: 12px 28px;
}
